body {
    background: black url(background.jpg) no-repeat top center;
}

a {
    color: white;
    text-decoration: none;
}

canvas {
    background: black;
    border: 1px lightgray solid;
}

.container {
    margin: 30px auto 0 auto;
    width: 600px;
    overflow: auto;
    position: relative;
}

#stats {
    width: 590px;
    background: grey;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    overflow: auto;
}


.score {
    width: 25%;
    height: 50px;
    padding-top: 20px;
    float: left;
    margin-right: 5px;
    overflow: auto;
    background: black;
    text-align: center;
}


#reset_score {
    padding: 10px;
    float: right;
}

#overlay {
    /*display: none;*/
    color: black;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 200px;
}

#overlay a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: gray;
}

#overlay a:hover {
    background: darkgray;
}